a {
  text-decoration: none; }

body, html {
  font-weight: 100;
  height: 100%; }

body {
  font-size: 16px;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; }

*:focus {
  outline: 0; }

li {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

h1, h2, h3, ul {
  margin: 0;
  padding: 0; }

hr {
  border: none;
  height: 1px; }

* {
  box-sizing: border-box; }

figure {
  margin: 0; }

main {
  margin: auto;
  width: 100%;
  position: relative; }

button {
  background: none;
  border: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row.reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

[class^="col-"], [class*=" col-"] {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.cols-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.cols-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.cols-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.cols-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.cols-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.cols-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.cols-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.cols-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.cols-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.cols-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.cols-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.cols-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

@media (min-width: 45rem) {
  .col-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%; } }

.offsetSmall-1 {
  margin-left: 8.3333333333%; }

.offsetSmall-2 {
  margin-left: 16.6666666667%; }

.offsetSmall-3 {
  margin-left: 25%; }

.offsetSmall-4 {
  margin-left: 33.3333333333%; }

.offsetSmall-5 {
  margin-left: 41.6666666667%; }

.offsetSmall-6 {
  margin-left: 50%; }

.offsetSmall-7 {
  margin-left: 58.3333333333%; }

.offsetSmall-8 {
  margin-left: 66.6666666667%; }

.offsetSmall-9 {
  margin-left: 75%; }

.offsetSmall-10 {
  margin-left: 83.3333333333%; }

.offsetSmall-11 {
  margin-left: 91.6666666667%; }

.offsetSmall-12 {
  margin-left: 100%; }

@media (min-width: 45rem) {
  .offset-1 {
    margin-left: 8.3333333333%; }
  .offset-2 {
    margin-left: 16.6666666667%; }
  .offset-3 {
    margin-left: 25%; }
  .offset-4 {
    margin-left: 33.3333333333%; }
  .offset-5 {
    margin-left: 41.6666666667%; }
  .offset-6 {
    margin-left: 50%; }
  .offset-7 {
    margin-left: 58.3333333333%; }
  .offset-8 {
    margin-left: 66.6666666667%; }
  .offset-9 {
    margin-left: 75%; }
  .offset-10 {
    margin-left: 83.3333333333%; }
  .offset-11 {
    margin-left: 91.6666666667%; }
  .offset-12 {
    margin-left: 100%; } }

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.Header {
  margin: 1rem 0 0; }

.Header-barInfo {
  background: #be0f34;
  color: white;
  font-size: 1rem;
  margin: 0.75rem 0;
  padding: 0.5rem 1rem;
  font-weight: bold; }

.Header-route {
  font-size: 0.75rem;
  margin: 0.5rem 0; }
  .Header-route span {
    color: #be0f34; }
  .Header-route a {
    color: black; }
    .Header-route a:hover {
      color: #be0f34; }

.Header-bar {
  border-top: 0.0625rem solid #ECEEED;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  width: 100%;
  height: 2rem;
  padding: 0 2.125rem; }

.Footer {
  font-size: 0.75rem;
  color: #777777;
  line-height: 1.25rem; }
  .Footer div {
    margin: 0.75rem 0; }
  .Footer a {
    color: #be0f34;
    text-decoration: underline;
    font-weight: normal; }

.Footer-info {
  color: black;
  font-weight: bold;
  max-width: 81%; }

body {
  font-size: 13px; }

main {
  max-width: 1040px;
  margin: auto;
  padding: 1rem;
  border: #d6d6d4 solid 0.0625rem; }

hr {
  background: #d6d6d4; }

.requiredInfo {
  color: #ee4b3c;
  font-size: 0.875rem;
  text-align: center; }

.title {
  background: #CCCCCC;
  padding: 0.375rem 0.5rem;
  color: #333;
  font-size: 0.9375rem;
  position: relative;
  margin-bottom: 6px; }
  .title:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 0.75rem solid #CCCCCC;
    position: absolute;
    top: 100%;
    left: 0.625rem; }

.Info-p {
  text-align: right;
  font-size: 0.6875rem;
  width: 100%;
  line-height: 0.875rem;
  margin-top: 3rem; }

.ContentForms a {
  color: #be0f34; }
  .ContentForms a:hover {
    text-decoration: underline; }

.Button {
  background: #C0C0C0;
  color: #665;
  border: #999;
  padding: 0.625rem 0.625rem 0.5rem; }
  .Button:hover {
    color: white;
    background: #be0f34;
    border-color: #be0f34; }
  .Button .ContentForms-p {
    margin: 2rem 0 1.5rem; }
  .Button form:first-of-type h2 {
    margin-right: 0.25rem; }
  .Button form:last-of-type h2 {
    margin-left: 0.25rem; }

.Form-inputs {
  margin: 1.875rem 0; }
  .Form-inputs textarea {
    margin: 0.5rem 0 0.5rem;
    height: 6.25rem;
    padding: 0.5rem;
    border: 0.125rem solid #b9b9b9;
    background-color: #F1F1F0; }
  .Form-inputs input[type="text"], .Form-inputs input[type="email"], .Form-inputs input[type="password"], .Form-inputs select {
    border: 0.125rem solid #b9b9b9;
    background-color: #F1F1F0;
    padding: 0.25rem;
    max-width: 27.5rem;
    width: 13.5rem; }
  .Form-inputs label {
    margin: 1rem 0;
    position: relative; }
    .Form-inputs label em {
      border-radius: 50%;
      background: #be0f34;
      padding-top: 0.125rem;
      position: absolute;
      color: white;
      height: 1rem;
      width: 1rem;
      text-align: center;
      top: 0.25rem;
      margin-left: 0.25rem;
      font-size: 0.75rem;
      cursor: pointer; }
      .Form-inputs label em:hover span {
        visibility: visible;
        opacity: 1; }
      .Form-inputs label em span {
        top: -10%;
        left: 120%;
        width: 12.5rem;
        padding: 0.5rem;
        text-align: justify;
        color: black;
        font-size: 12px;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s linear;
        position: absolute;
        background: #CCCCCC;
        font-weight: bold; }

.Logout {
  display: block;
  text-align: right;
  margin: 0.5rem 0;
  text-decoration: underline;
  color: #be0f34;
  font-size: 0.75rem; }

.Steps {
  text-align: center;
  font-size: 0.6875rem; }
  .Steps li {
    background: #d6d6d4;
    margin-left: 0.0625rem;
    width: 22.5%; }
    .Steps li a {
      color: black;
      padding: 1rem 0;
      display: block; }
      .Steps li a.current {
        background: #be0f34;
        color: white; }
        .Steps li a.current:hover {
          color: white; }
      .Steps li a:hover {
        color: #be0f34; }
    .Steps li:first-of-type {
      width: calc(10% - 6px);
      background: #8B8078;
      text-align: left;
      color: white;
      position: relative;
      height: 2.75rem;
      font-size: 0.875rem;
      padding: 0.3125rem 0.75rem; }
      .Steps li:first-of-type:before {
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        width: 0;
        height: 0;
        border-top: 22px solid transparent;
        border-left: 28px solid #8B8078;
        border-bottom: 22px solid transparent; }

.Progress p {
  width: 100%;
  margin-bottom: 0.375rem;
  color: #665; }
  .Progress p span {
    font-weight: bold;
    font-style: italic; }

.Progress-bar {
  height: 0.875rem;
  width: 12.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 1.25rem;
  overflow: hidden; }
  .Progress-bar span {
    display: block;
    width: 0;
    background: #be0f34;
    height: 100%;
    transition: all 0.5s; }

.Progress-val {
  margin-left: 0.25rem; }

.steps .image-p {
  max-width: 79%;
  margin: 50px auto 10px;
  color: #be0f34; }

.steps input.file {
  opacity: 0;
  width: calc(100% - 16px); }

.steps .FigureInputImage {
  position: absolute;
  border: 0.0625rem dashed #979797;
  border-radius: 0.125rem;
  width: calc(80%);
  top: 0;
  height: 11.53125rem;
  overflow: hidden;
  margin-left: 10%;
  z-index: -1; }

.steps output {
  display: block;
  left: 10.4%;
  overflow: hidden;
  position: absolute;
  top: 1px;
  z-index: -1;
  max-width: 15.75rem; }

.steps label {
  position: relative; }
  .steps label em span {
    left: -13.125rem;
    z-index: 2;
    width: 13rem; }

.Record div:first-child {
  padding-right: 0.125rem; }

.Record div:last-child {
  padding-left: 0.125rem; }

.Record label {
  padding: 0 0.375rem; }

.Record a {
  color: #be0f34; }
  .Record a:hover {
    text-decoration: underline; }

.Terms label {
  display: block; }

.Terms input, .Terms select {
  width: auto; }

.limiterBox {
  color: #be0f34; }

#social input[type='text'], #social em {
  display: none; }

.facebook-p {
  font-size: 11px;
  text-align: justify; }
  .facebook-p a {
    color: #be0f34; }
    .facebook-p a:hover {
      text-decoration: underline; }

.Form-errors {
  position: absolute;
  padding: 5px;
  color: white;
  background: #be0f34;
  border-radius: 4px;
  right: 208px;
  bottom: 100%;
  margin: 0; }
  .Form-errors:before {
    position: absolute;
    top: 100%;
    right: 0.5rem;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #be0f34; }

/*# sourceMappingURL=style.css.map */
